<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
  <title>Reddit Clone</title>
  <link rel="stylesheet" href="/index.css">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
  <header>
    <div class='container1'>
      <a class='logo' href='/'><img class='logo' src='images/Reddit-Logo.png'></a>
      <a class='logo' href='/'><h1>Reddit</h1></a>
    </div>
  </header>
  <main>
    <div class='container2'>
      <div class='links'>
        {{#each links}}
        <h2>
          <form class='vote' method="post" action="/{{this.id}}?_method=PATCH">
            <input type="hidden" value='{{this.id}}' name="id">
            <input type="hidden" value='{{this.votes}}' name="votes">
            <span class='votes'>
              <button>Up Vote</button>
            </span>
          </form>
          
          {{this.votes}}
          
          <form class='vote' method="post" action="/dv/{{this.id}}?_method=PATCH">
            <input type="hidden" value='{{this.id}}' name="id">
            <input type="hidden" value='{{this.votes}}' name="votes">
            <span>
              <button>Down Vote</button>
            </span>
          </form>
          <a href='{{this.url}}' target='blank'>{{this.linkName}}</a>
        </h2>
        <form method='get' action="/comments/{{this.id}}">
          <input type="hidden" name='id' value='{{this.id}}'>
          <button type='submit'>Comments</button>
        </form>
        {{/each}}
      </div>
      <div>
        <button class='linksubmit'><a class='link' href="/addlink">Submit a New Link</a></button>
      </div>
    </div>
  </main>
  {{!-- <script src='/main.js'></script> --}}
</body>
</html>